.btn-themeBlue {
  background-color: $themeBlue;
  color: #fff;
  &:hover {
    background-color: darken($themeBlue, 5%);
    color: #fff;
  }
}

.btn-delete {
  background-color: $themeRed;
  color: #fff;
  &:hover {
    background-color: darken($themeRed, 20%);
    color: #fff;
  }
}

.btn-style {
  padding: 0.5rem 5rem;
}

.btn-block-xs-only {
  margin-right: 1rem;
}

.btn-halfWidth {
  width: 40%;
}

// Mobile styles
@media (max-width: 480px) {
  .btn-block-xs-only {
    display: block;
    width: 100%;
    margin-bottom: 1rem !important;
    margin-right: 0;
  }
  .expirationDateTitle {
    display: block;
  }
}
