.form-group--insertIcon {
  position: relative;
}

.insertIcon-left i {
  position: absolute;
  top: 15px;
  left: 20px;
}

.insertIcon-left .input-field {
  padding-left: 50px;
}

.insertIcon-right i {
  position: absolute;
  top: 15px;
  right: 20px;
}

.input-field {
  background-color: #ffde00;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid $black;
}
